STORE_CORS=http://localhost:8000,https://docs.medusajs.com
ADMIN_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
AUTH_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
REDIS_URL=redis://localhost:6379
JWT_SECRET=supersecret
COOKIE_SECRET=supersecret
DATABASE_URL=
DB_NAME=postgres
SHOP_NAME=Medusa Store
ADMIN_SHOP_NAME=Medusa Store
ADMIN_LOGO_PATH=
ADMIN_FAVICON_PATH=
PLUGIN_SHOP_NAME=Medusa Store
PLUGIN_SHOP_LOGO=
PLUGIN_SHOP_FAVICON=
